* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

h1 { 
    font-size: 72px;
    text-align: center;
}
.content-top{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

.content-bottom {
    margin-left: 650px;
}


#squares-container {
    width: 500px;
    height: 500px;
    display: grid; 
    border: 2px solid black;
}

#item {
    border: skyblue 1px solid;
}
